<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean class="com.zhaodf.beans.User" name="user1"></bean>
    <bean class="com.zhaodf.beans.User" name="user2">
        <constructor-arg name="idxx"  value="2"/>
        <constructor-arg name="username"  value="zhaodf"/>
        <constructor-arg name="realname" value="峰哥"/>
    </bean>
    <bean class="com.zhaodf.beans.User" name="user3">
        <property name="id" value="3"/>
        <property name="username" value="zhaodf"/>
        <property name="realname" value="峰哥"/>
    </bean>
    <bean class="com.zhaodf.beans.Wife" name="wife">
        <property name="name" value="mouren"/>
        <property name="age" value="28"/>
    </bean>
    <bean class="com.zhaodf.beans.Person" name="person">
        <property name="id" value="1"/>
        <property name="name" value="zhaodf"/>
        <property name="realname" value="zhaodf"/>
        <property name="gender">
            <null></null>
        </property>
        <property name="birthday" value="2020/05/20"/>
        <property name="hobbies">
            <list>
                <value>唱歌</value>
                <value>跳舞</value>
            </list>
        </property>
        <property name="course">
            <map>
                <entry key="1" value="Java"></entry>
                <entry key="2" value="C++"></entry>
            </map>
        </property>
        <property name="wife">
            <bean class="com.zhaodf.beans.Wife" name="wife">
                <property name="name" value="mouren"/>
                <property name="age" value="28"/>
            </bean>
        </property>
    </bean>-->
    <!--<bean class="com.zhaodf.beans.User" id="user5" p:id="5" p:realname="zhaodf" p:username="zhaodf">
    </bean>
    <bean class="com.zhaodf.beans.User" id="user6" c:_0="6" c:_1="zhaodf" c:_2="zhaodf">
    </bean>
    <bean class="com.zhaodf.beans.User" name="user" lazy-init="true"></bean>
    <bean class="com.zhaodf.beans.User" name="user8" scope="singleton"></bean>
    <bean class="com.zhaodf.beans.User" name="user9" scope="prototype"></bean>
    <bean class="com.zhaodf.beans.User" name="user10" factory-method="createUser"></bean>
    <bean class="com.zhaodf.beans.UserFactoryBean" name="userFactoryBean"/>
    <bean class="com.zhaodf.beans.User" name="user11" factory-bean="userFactoryBean" factory-method="creatUserFactoryMethod"></bean>
    <bean class="com.zhaodf.beans.Husband" name="husband" autowire="byType"></bean>
    <bean class="com.zhaodf.beans.Wife" name="wife1" p:name="mouren1" p:age="31" primary="true"/>
    <bean class="com.zhaodf.beans.Wife" name="wife2" p:name="mouren2" p:age="32"/>
    <bean class="com.zhaodf.beans.Person" name="person" autowire="constructor"></bean>
    <bean class="com.zhaodf.beans.Wife" id="wife" p:name="mouren1" p:age="31"/>
    <bean class="com.zhaodf.beans.Wife" id="wife2" p:name="mouren2" p:age="32"/>
    <bean class="com.zhaodf.beans.Parent" id="parent" abstract="true">
        <property name="id" value="1"></property>
        <property name="username" value="峰哥"></property>
        <property name="realname" value="zhaodf"></property>
    </bean>
    <bean class="com.zhaodf.beans.Kid" id="kid" parent="parent">
        <property name="realname" value="赵登峰"></property>
        <property name="sex" value="male"></property>
    </bean>
    <context:property-placeholder location="classpath:db.properties" local-override="true"/>
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="url" value="${url}"/>
    </bean>-->
    <bean class="com.zhaodf.beans.Person" name="person" init-method="init" destroy-method="destroy">
        <property name="id" value="1"/>
        <property name="name" value="zhaodf"/>
        <property name="realname" value="zhaodf"/>
        <property name="gender">
            <null></null>
        </property>
        <property name="birthday" value="2020/05/20"/>
        <property name="hobbies">
            <list>
                <value>唱歌</value>
                <value>跳舞</value>
            </list>
        </property>
        <property name="friends">
            <set>
                <value>lilei</value>
                <value>hanmm</value>
            </set>
        </property>
        <property name="course">
            <map>
                <entry key="1" value="Java"></entry>
                <entry key="2" value="C++"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="driverClassName">com.mysql.jdbc.Driver</prop>
                <prop key="url">jdbc:mysql://localhost:3306/mydb</prop>
            </props>
        </property>
        <property name="book">
            <array>
                <value>计算机</value>
                <value>C++</value>
            </array>
        </property>
        <property name="wife">
            <bean class="com.zhaodf.beans.Wife" name="wife">
                <property name="name" value="mouren"/>
                <property name="age" value="28"/>
            </bean>
        </property>
    </bean>
    <bean class="com.zhaodf.beans.SpELBean" id="spELBean">
        <property name="name" value="#{1+2}"/>
    </bean>
</beans>